.feed-layout{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    /* flex-wrap: wrap; */

}


.post-feed{
    width: 45rem;
    margin: 0 1rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow-y: scroll;
    height: 88vh;
}

.feed-sidebar{
    width: 15rem;
    border-radius: 10px;
    background-color: rgb(241, 226, 9);
    /* border: 1px solid black; */
    max-height: 88vh;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.other-user-section{
    /* border: 1px solid black; */
    width: 15rem;
    background-color: rgb(241, 226, 9);
    border-radius: 10px;
    max-height: 88vh;
    overflow-y: hidden;
    
}

.loader{
    margin-top: 2rem;
}

.feed-post-list{
    list-style: none;
    padding: 0;
}

.feed-post{
    margin: 2rem 0 0 0 ;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}


.feed-sidebar-links{
    list-style: none;
    padding: 0;
}

.feed-sidebar-link:link,
.feed-sidebar-link:visited{
    text-decoration: none;
    font-weight: 500;
    margin: 1rem 0;
    color: black;
    font-size: 1.5rem;
}

.other-users-list{
    list-style: none;
    padding: 0;
}

.otheruser-card{
    margin: 1rem 0;
}

.follow-user-btn{
    border: none;
    border-radius: 10px;
    padding: 0.2rem 0.5rem;
    color: white;
    background-color: black;
    transition: all 0.2s;
}

.follow-user-btn:hover{
    transform: scale(1.1);
}

.follow-user-btn:active{
    transform: scale(0.9);
}

.post-controls{
    display: flex;
    /* background-color: green; */
    width: 100%;
}

.post-controls > div{
    width: 50%;
    cursor: pointer;
}

.like-btn, .comment-btn{
    border-right: 1px solid white;
}

.like-btn:hover{
    color: red;
}

.post-control-icon{
    transition: all 0.2s;
    margin-right: 0.2rem;
}

.post-control-icon:hover{
    transform: scale(1.2);
}

.post-control-icon:active{
    transform: scale(0.9);
}

.comment-list{
    background-color: green;
    list-style: none;
}